<div class="container-fluid">

    <div class="row">
        <div class="col-md-8">
            <div class="mt-2">
                <img src="../../../assets/undraw_voice_control_ofo1.svg" height="80%" width="80%" alt="">
            </div>
        </div>
        <div class="col-md-3">
            <h1 class="text-danger mt-5"> Welcome back </h1>
            <form action="" class="mt-5 pr-3">
                <h3 class="text-success mt-5">Login</h3>
                <div class="form-floating mb-3 mt-5">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                    <button class="btn btn-outline-success" type="button">Sign In</button>
                  </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>